# Obtain data from edge-ml

In [1]:
from edgeml import DatasetReceiver

### 1. Create a project
This will also pull the metadata from the server.
Here you need the *read*-key.
Make sure there is not trailing */* in your URL.

In [2]:
project = DatasetReceiver("https://edge-ml-beta.dmz.teco.edu", "YOUR_READ_KEY")
print(project)

Dataset - Name: W_001, ID: 645a255bdd19d537f2a50126, Metadata: {}
Dataset - Name: W_004, ID: 645a255b7d9569d03843a12b, Metadata: {}
Dataset - Name: Square_003, ID: 645a255b2ce253c26b52426c, Metadata: {}
Dataset - Name: Square_004, ID: 645a255b1d6af5e7ed04575f, Metadata: {}
Dataset - Name: Square_002, ID: 645a255bc21261d4cbdc990d, Metadata: {}
Dataset - Name: W_002, ID: 645a255b3ebe0af02b211d5d, Metadata: {}
Dataset - Name: W_003, ID: 645a255b074737af782167e2, Metadata: {}
Dataset - Name: Square_001, ID: 645a255bbacf5ab8ff044304, Metadata: {}
Dataset - Name: testPython, ID: 6463331e95e13b49eca9aa9c, Metadata: {'lang': 'python'}
Dataset - Name: testPython, ID: 646334469fd5dd292422aa3d, Metadata: {'lang': 'python'}
Dataset - Name: testPython, ID: 646334ad9fd5dd292422aa40, Metadata: {'lang': 'python'}
Dataset - Name: testPython, ID: 6463530795e13b49eca9aa9f, Metadata: {'lang': 'python'}
Dataset - Name: testPython, ID: 646353125da859ff5bf12c9b, Metadata: {'lang': 'python'}

### 2. Actually obtain data
Until now, we only have metadata available. We need to pull the actual time-series data using one of the following methods:

*We can load the data for a single timeSeries*

In [3]:

project.datasets[0].timeSeries[0].loadData()
project.datasets[0].timeSeries[0].data.head()

     time      x
0  623339 -823.0
1  623378 -819.0
2  623418 -770.0
3  623458 -746.0
4  623497 -783.0

*For a single dataset*

In [4]:
project.datasets[0].loadData()
project.datasets[0].data.head()

     time      x      y       z Gestures
0  623339 -823.0  -45.0  4025.0
1  623378 -819.0 -158.0  4075.0
2  623418 -770.0 -255.0  4116.0
3  623458 -746.0 -155.0  4059.0
4  623497 -783.0 -104.0  3963.0

*Or for all datasets in the project*

In [5]:
project.loadData()
project.data[0].head()

     time      x      y       z Gestures
0  623339 -823.0  -45.0  4025.0
1  623378 -819.0 -158.0  4075.0
2  623418 -770.0 -255.0  4116.0
3  623458 -746.0 -155.0  4059.0
4  623497 -783.0 -104.0  3963.0

# Upload data to edge-ml

### 1. Upload data using timestamps from the device
Here you will need the *write*-key

In [6]:
from edgeml.edgeml import DatasetCollector
sender = DatasetCollector("https://edge-ml-beta.dmz.teco.edu", "YOUR_WRITE_KEY", "testPython", True, ["accX", "accY"], {"lang": "python"})

In [7]:
import time

for i in range (100):
    await sender.addDataPoint("accX", i*0.1)
    await sender.addDataPoint("accY", i*0.5)
    time.sleep(0.01)
sender.onComplete()

True

### 2. Provide your own timestamps

In [8]:
from edgeml.edgeml import DatasetCollector
sender = DatasetCollector("https://edge-ml-beta.dmz.teco.edu", "YOUR_WRITE_KEY", "testPython", False, ["accX", "accY"], {"lang": "python"})

In [9]:
import time

for i in range (100):
    await sender.addDataPoint(i, "accX", i*0.1)
    await sender.addDataPoint(i, "accY", i*0.5)
    time.sleep(0.01)
sender.onComplete()

True